/* Search bar styles */
.navbar__search {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar__search-input {
  width: 12rem;
  padding: 1rem 2.5rem;
  font-family: var(--ifm-font-family-base);
  border-radius: 0.75rem;
  border-color: var(--ifm-color-primary-lightest);
  background: transparent;
  background-color: var(--ifm-navbar-search-input-background-color);
  color: var(--ifm-navbar-search-input-color);
  transition: all 0.2s ease;
}

.navbar__search-input:focus {
  width: 24rem;
  border-color: var(--ifm-color-primary);
  outline: none;
  box-shadow: 0 0 0 2px rgba(var(--ifm-color-primary-rgb), 0.25);
}

.navbar__search-input::placeholder {
  color: var(--ifm-navbar-search-input-placeholder-color);
}

/* Mobile styles */
@media (max-width: 996px) {
  /* Mobile search bar */
  .navbar__search {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
  }

  .navbar__search-input {
    width: 100%;
  }

  .navbar__search-input:focus {
    width: 100%;
  }
}
