.menu {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  /* margin-right: 0.5rem; */
}
.menu__list-item-collapsible {
  font-weight: 500;
  /* color: var(--ifm-color-text); */
  font-family: var(--ifm-font-family-base);
  /* uppercase doesn't seem to work */
  text-transform: uppercase;
}

.menu__list-item-collapsible:hover {
  background-color: var(--ifm-color-secondary);
  color: var(--ifm-color-primary);
}

.menu__caret {
  color: var(--ifm-color-text);
}

.menu__list-item-collapsible .menu__list {
  padding-left: 0.5rem;
}

.menu__link--sublist {
  border-left: 5px solid var(--ifm-color-primary-lightest);
}

.menu__list-item-collapsible--active {
  background-color: var(--ifm-color-secondary);
  color: var(--ifm-color-primary);
}

/* Navbar styling */
.navbar {
  background-color: var(--ifm-color-primary);
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--ifm-color-secondary);
  font-family: var(--ifm-font-family-base);

  @media (max-width: 996px) {
    -webkit-backdrop-filter: unset;
    backdrop-filter: unset;
  }
}

.navbar__title {
  color: var(--ifm-color-text);
  font-family: var(--ifm-heading-font-family);
}

.navbar__item {
  color: var(--ifm-color-text);
  font-family: var(--ifm-font-family-base);
}

.navbar__item:hover {
  color: var(--ifm-color-primary);
}

/* Search bar */
.navbar__search {
  margin: 0.5rem 1rem;
}

.navbar__search-input {
  border-radius: 4px;
  border: 1px solid var(--ifm-color-secondary);
  background-color: var(--ifm-background-color);
  color: var(--ifm-color-text);
  padding: 0.5rem 1rem;
  font-family: var(--ifm-font-family-base);
}

/* Mobile sidebar */
@media (max-width: 996px) {
  .theme-doc-sidebar-container {
    border-right: none;
  }
}

/* Sidebar Divider */
.sidebar-divider {
  height: 1px;
  background-color: var(--ifm-color-primary);
  margin: 0.5rem 0;
  opacity: 0.1;
}

/* Sidebar Text Block */
.sidebar-text {
  color: var(--ifm-color-primary);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  opacity: 0.7;
  /* border-left: 2px solid var(--ifm-color-primary); */
  background-color: rgba(var(--ifm-color-primary-rgb), 0.05);
}
